<ul><a href="http://localhost:3000/">Home</a></ul>
<ul><a href="http://localhost:3000/about">About</a></ul>
<ul><a href="http://localhost:3000/team">Contact</a></ul>
<ul><a href="http://localhost:3000/food">Foods</a></ul>
