<link rel="stylesheet" href="css/header.css">
<nav><ul>
        <li><a href="http://localhost:3000/food">Foods</a></li>
        <li><a href="http://localhost:3000/team">Contact</a></li>
        <li><a href="http://localhost:3000/about">About</a></li>
        <li><a href="http://localhost:3000/">Home</a></li>



    </ul>
</nav>