<nav><a href="http://localhost:3000/">Home</a></nav>
<nav><a href="http://localhost:3000/about">About</a></nav>
<nav><a href="http://localhost:3000/team">Contact</a></nav>
<nav><a href="http://localhost:3000/food">Foods</a></nav>
