{{!-- <link rel="stylesheet" href="css/header.css">
<div class="header">
    <nav><ul class="header">
            <li class="header"><a class="header"
                    href="http://localhost:3000/admin">Admin</a></li>
            <li class="header"><a class="header"
                    href="http://localhost:3000/team">Team</a></li>
            <li class="header"><a class="header"
                    href="http://localhost:3000/about">About</a></li>
            <li class="header"><a class="header" href="http://localhost:3000/">Home</a></li>
            <li style="float:left" class="header"><a class="header"
                    href="#about">LOGO</a></li>
        </ul>
    </nav>
</div> --}}
<div id="topheader">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://localhost:3000/">BCXPR API</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/team">Team</a></li>
                <li><a href="http://localhost:3000/about">About</a></li>
                <li><a href="http://localhost:3000/food">Food</a></li>
                <li><a href="http://localhost:3000/admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:3000/admin">Docs</a></li>
            </ul>
        </div>
    </nav>
</div>
