<link rel="stylesheet" href="css/header.css">
<nav><ul class="header">
        <li class="header"><a class="header" href="http://localhost:3000/food">Foods</a></li>
        <li class="header"><a class="header" href="http://localhost:3000/team">Team</a></li>
        <li class="header"><a class="header" href="http://localhost:3000/about">About</a></li>
        <li class="header"><a class="header" href="http://localhost:3000/">Home</a></li>
        <li style="float:left" class="header"><a class="header" href="#about">LOGO</a></li>
    </ul>
</nav>