<h1>AboutPage</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
    distinctio vel soluta error labore debitis quod facilis. Corrupti,
    deserunt officia.</p>

<h3>Company Name:{{{name}}}</h3>
<h3>Author: {{{author}}}</h3>