{{>admin_header}}
<h2>{{adminheader}}</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae hic, tenetur
    illum quod autem perspiciatis? Minima omnis facere culpa voluptates sequi
    repudiandae enim ut, ipsum cupiditate vitae voluptatum odio similique ad aut
    quidem temporibus autem ipsa accusamus, quia adipisci. Ab quaerat nihil esse
    nostrum ratione temporibus maiores. Cupiditate, quas neque.</p>