<h1>Foods</h1>
{{>header}}

<h3>Fruits</h3>
{{#each food}}

    {{#each this.fruits}}
    <p>{{this}}</p>
    {{/each}}

{{/each}}

<h3>Veggies</h3>
{{#each food}}

    {{#each this.vegetables}}
    <p>{{this}}</p>
    {{/each}}

{{/each}}

<h3>Junk Food</h3>
{{#each food as |food key|}}

    {{#each food.junk as |junk key|}}
    <p>{{junk}}</p>
    {{/each}}

{{/each}}

<h3>Beverages</h3>
{{#each food as |food key|}}

    {{#each food/beverages as |beverages key|}}
    <p>{{beverages}}</p>
    {{/each}}

{{/each}}
{{>footer}}