nav {
    background: rgb(248, 248, 248);
    /* display: block; */
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
}

li {
    /* display: inline; */
    float: right;
}

/* a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  } */

li a {
    display: block;
    color: #dddddd;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #045eac;
}

li a:hover {
    background-color: #111;
}