body {
    margin: 0;
    padding: 0;
}

nav.header {
    background: rgb(248, 248, 248);
    /* display: block; */
}

ul.header {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

li.header {
    /* display: inline; */
    float: right;
}

li.header a.header {
    display: block;
    color: #dddddd;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #045eac;
}

li.header a.header:hover {
    background-color: #111;
}